<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/orangehrm-automationproject/AutomationFrameWork/src/test/java/com/actitime/automation/CreateCustomerTestNG.java">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.actitime.automation.ActitimeCreateTask">
            </class>
        </classes>
    </test>
</suite>